
.navbarContainer {
  position: fixed;
  top: 0;
  left: 0;
  background: #ff0037;
  width: 100%;
  overflow-x: auto;
}

.navbar {
  display: flex;
  white-space: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.item {
  display: inline-block;
  text-transform: uppercase;

}
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
.list{
  width: 250px;
  @include for-phone-only {
    width: 150px;
  }
}
.link {
  display: inline-block;
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  margin: 0 .5rem;
  padding: 1rem;

  &:hover {
    background: darken(#ff0037, 5%);
  }
}
